<!-- Main slider -->

<div class="container">
  <swiper [config]="mainSliderOptions" id="main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let product of products">
        <img [src]="product.image_src" >
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>

<!-- T-shirts slides -->

<div class="container">
  <h2> Remeras </h2>
</div>

<div class="container">
  <swiper [config]="clothesSlidesOptions" class="products-section">
    <div class="swiper-wrapper">

      <div class="swiper-slide" *ngFor="let product of products">
        <ng-container>
          <div class="card">
            <img [src]="product.image_src">
            <h3>{{product.title}}</h3>
          </div>
        </ng-container>
      </div>

    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>

<!-- Third section -->

<div class="container">
  <h2> Gorras </h2>
</div>

<div class="container">
  <div class="grid-container products-section">
    <div class="bigger-product">
      <div class="card"><img src="https://loremflickr.com/g/600/400/paris" alt="img 1"></div>
    </div>
    <div class="right-side-products">
      <div class="card"><img src="https://loremflickr.com/g/600/400/paris" alt="img 1"></div>
      <div class="card"><img src="https://loremflickr.com/g/600/400/paris" alt="img 1"></div>
    </div>
  </div>
</div>
