// Menu
mat-toolbar {
    display: flex;
    justify-content: space-between;
}

// General Styles
img { width: 100%; }
h2 { font-size: em; }

.container {
    display: flex;
    justify-content: center;
}

// Principal slider
#main-swiper {
    width: 100vw;
    max-width: 1000px;
}

// T-shirts slider 
#t-shirts {
    width: 90vw;

    .card {
        padding: 10px 5px;
        img {
            max-width: 100%;
            border-radius: 10px;
        }
    }
}

@media screen and (min-width: 40em) {
    #t-shirts {
        width: 80vw;
    }
}