<mat-toolbar>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="checkroom"></mat-icon>
    <span>My Application</span>
  </div>

  <div>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_basket"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
  </div>
</mat-toolbar>

<div class="container">
  <swiper [config]="mainSliderOptions">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://loremflickr.com/g/600/400/paris" alt="img 1"></div>
      <div class="swiper-slide"><img src="https://loremflickr.com/600/400/brazil,rio" alt="img 2"></div>
      <div class="swiper-slide"><img src="https://loremflickr.com/600/400/paris,girl/all" alt="img 3"></div>
      <div class="swiper-slide"><img src="https://loremflickr.com/g/600/400/paris" alt="img 4"></div>
      <div class="swiper-slide"><img src="https://loremflickr.com/600/400/brazil,rio" alt="img 5"></div>
      <div class="swiper-slide"><img src="https://loremflickr.com/600/400/paris,girl/all" alt="img 6"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>

<h2> Remeras </h2>

<swiper>
  <div class="swiper-wrapper">
    <div class="swiper-slide red">Slide 1</div>
    <div class="swiper-slide red">Slide 2</div>
    <div class="swiper-slide red">Slide 3</div>
    <div class="swiper-slide red">Slide 4</div>
    <div class="swiper-slide red">Slide 5</div>
    <div class="swiper-slide red">Slide 6</div>
    <div class="swiper-slide red">Slide 7</div>
    <div class="swiper-slide red">Slide 8</div>
    <div class="swiper-slide red">Slide 9</div>
    <div class="swiper-slide red">Slide 10</div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</swiper>