<footer>
    <div class="footer-content">
        <div class="brand">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="checkroom"></mat-icon>
            <div class="brand-title">
                <h2> Ecommerce </h2>
                <span>Lorem ipsum dolor asimet</span>
            </div>
        </div>
        <div class="contact">
            <div class="info">
                <h2>Contact</h2>
                <span>+1 123 456 789</span>
                <span>hello@ecommerce.com</span>
            </div>
            <div class="social-networks">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="checkroom"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="checkroom"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="checkroom"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="checkroom"></mat-icon>
            </div>
        </div>
    </div>
</footer>
