<div class="top-image"
    [style.background] = "bgImageUrl">

    <div class="content">
        
        <div *ngIf="title" class="title-container">
            <h1> {{ title }} </h1>
        </div>
    
        <div *ngIf="secondaryText" class="secondary-text">
            <h3> {{ secondaryText }} </h3>
        </div>
    
        <div *ngIf="actionButton" class="action-button">
            <button mat-flat-button [color]="actionButton.bgColor" class="mat-button-lg" > {{ actionButton.text }} </button>
        </div>

    </div>

</div>

